/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* @font-face {
    font-family: 'Agenda';
    src: url('/font/Agenda-MediumCondensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Agenda';
    src: url('/font/Agenda-Black.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
} */

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

a.btn.btn-outline {
    color: var(--white);
    text-transform: uppercase;
    border: thin solid var(--black);
    border-radius: 0;
    transition: all .3s;
}

section {
    overflow: hidden;
}

.section-title {
    border: thin solid var(--orange);
    color: var(--white);
    font-size: 2rem;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-transform: uppercase;
    width: fit-content;
}
.section-title h2 {
   margin-bottom: 0;
   padding: 1.5rem 2.5rem;
   font-size: 2.8rem;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar {
  padding: 0!important;
}
.top-bar .col {
    background-color: var(--orange);
}
.top-bar .col a {
    color: var(--white);
    text-decoration: none;
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.navbar-toggler {
    border: none;
}
#main-nav .active {
    background-color: var(--black);
}
#main-nav a {
    color: var(--black);
    font-weight: 500;
    transition: all .3s;
}
#main-nav .btn {
    font-size: 18px;
}
#main-nav .active a {
     color: #ffffff;
}
#main-nav .btn {
    font-size: 18px;
}
.nav-outer .container {
    padding: 0;
}

.navbar ul {
    padding: 0;
}

.navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.navbar-nav .nav-item, .navbar ul li:first-child:not(.dropdown ul li) {
    padding: .9rem calc(var(--bs-gutter-x) * .5);
    border-top: thin solid var(--black);
}

.navbar a {
    padding: 0;
    font-size: 1.125rem;
}
.nav-contact-contain {
    padding: 0 calc(var(--bs-gutter-x) * .5);
}
#main-nav .navbar-nav .nav-item:last-of-type {
    border-bottom: thin solid var(--lightGray);
}

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.animated-icon span {
    border-radius: 9px;
    display: block;
    height: 3px;
    position: absolute;
    left: 0;
    opacity: 1;
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span {
    background: var(--black);
}

.animated-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

#main-nav .logo-top {
    padding-left: calc(var(--bs-gutter-x)* .5);
    width: 14rem;
}


.navbar-nav .nav-item, .navbar ul li:first-child:not #main-nav .dropdown ul li {
    padding: 1rem calc(var(--bs-gutter-x) * .5);
}

#main-nav .nav-item.active ul {
    background-color: var(--green)!important;
}

#main-nav {
z-index: 9;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
    background-color: var(--orange);
    position: relative;
    height: 26rem;
    overflow: hidden;

}
.hero .hero-divider {
    width: 100%;
    position: absolute;
    z-index: 2;
}
.hero .hero-brown {
    position: absolute;
    z-index: 1;
    height: 110%;
    right: -4.5rem;
    top: -10%;
}
.hero .hero-img-container {
    position: relative;
    height: 100%;
    /* overflow: hidden; */
    width: 50%;
}
.hero .hero-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;   
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}
.hero-img.active {
    opacity: 1;
    z-index: 1;
  }

.hero-text-container {
    z-index: 9;
    position: absolute;
    top: 1.5rem;
    /* right: 50%; */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
.hero-text-container .hero-text {
    padding: 1.25rem 1.25rem;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
}

.hero-text-container .hero-text:nth-child(1) {
    margin-bottom: 1rem;
}

.hero-text-container .hero-text p {
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.hero-text-container .hero-sub {
    width: 50%;
    margin-left: auto;
    margin-top: 1rem;
}

.hero-text-container .hero-sub .hero-sub-text {
    color: var(--white);
}
.hero .btn-outline {
    background-color: var(--orange);
}

.hero .btn-outline:active, .hero .btn-outline:focus, .hero .btn-outline:hover {
    background-color: var(--black);
    color: var(--orange);
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us {
   position: relative;
}
.about-us .about-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.about-us .about-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    z-index: 2;
}
.about-us .container {
    position: relative;
    z-index: 3;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.about-us .container p {
    color: var(--white);
    font-size: 1.125rem;
}

a.readmore {
    color: var(--white);
    font-size: 1.125rem;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}
a.readmore:hover {
    color: var(--orange);
}
.about-us .section-title {
    margin-bottom: 3rem;
}