/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .hero {
        height: 30rem;
    }
    .hero .btn-outline {
        font-size: 1.5rem;
    }
    .hero-text-container {
        top: 4rem;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        padding-right: 5rem;
    }
    .hero-text-container .hero-text p {
        font-size: 2.7rem;
    }
    .hero-text-container .hero-sub p {
        font-size: 1.125rem;
    }
    .hero .hero-brown {
        right: -5rem;
    }
}